/* 
* has
* Display beautification for web application
* @input    -
* @ouput    Display
* @author   Supapron
* @Create Date 2562-01-27
*/



/* Font  */

.Fontt {
    font-family: 'Prompt', sans-serif;
    color: #000000;
    font-size: 20px;
}

.Fontt {
    font-family: 'Prompt', sans-serif;
    color: #000000;
    font-size: 20px;
}

.FontBody {
    font-family: 'Prompt', sans-serif;
}


/* setting page */

.AlCenter{
    text-align:center;
}
.AlRight{
    text-align:right;
}
.AlLeft{
    text-align:left;
}


 /* Class btn in images display */
 .text-image {
    position: relative;
    text-align: center;
    color: blue;

  }
  .centered-articleForHealth {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn-image
  {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    margin: 4px 2px;
  }

  #icon-forHelath {

    background: white url(Images_inView/magnifying-glass.png) no-repeat;
    position: relative;
    background-size: 3%;
    background-position-x: 97%;
    background-position-y: 50%;
    width: 700px;
}
#icon{

    background: white url(Images_inView/magnifying-glass.png) no-repeat;
    position: relative;
    background-size: 3%;
    background-position-x: 97%;
    background-position-y: 50%;

}